 .test-plans {
     padding: 20px;
     margin: 20px auto;
     width: 800px;
     background-color: #333;
     color: #f5f5f5;
     justify-content: center;
     border-radius: 10px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
     font-family: 'Playfair Display', serif;
 }


 .test-plans h2 {
     margin-bottom: 20px;
     margin-left: 10px;
     font-size: 2rem;
     color: #ffd700;
     text-align: center;
 }